.new-pda {
    overflow-x: hidden;
    background-color: $white-FFFFFF;

    .poppins-bold {
        font-family: $poppinsBold;
    }

    .poppins-semi-bold {
        font-family: $poppinsSemiBold;
    }


}