
html {
    font-size: 62.5%;
}

body {
    font-family: $poppinsMedium;
    box-sizing: border-box;
}


.new-pda {
    overflow-x: hidden;
    background-color: $grey-F2F2F2;

    .poppins-bold {
        font-family: $poppinsBold;
    }

    .poppins-semi-bold {
        font-family: $poppinsSemiBold;
    }

    .btn {
        font-family: $poppinsBold;
        font-size: 1.6rem;
        border: none;
        box-shadow: none;
        border-radius: 2.4rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: -webkit-fill-available;
        width: -moz-available;
        position: relative;

        &:hover {
            transform: translateY(-.2rem);
            box-shadow: 0 .5rem 1rem rgba($color: $black-000000, $alpha: .2);
        }
        &:active {
            transform: translateY(-.1rem);
            box-shadow: 0 .2rem .5rem rgba($color: $black-000000, $alpha: .2);
        }

        &.btn-primary {
            background-color: $orange-FFA100;
            color: $blue-004165;

            &:hover,
            &.btn-outline-primary:hover {
                background-color: $orange-E38E00;
            }

            &.btn-outline-primary {
                background-color: $white-FFFFFF;
                border: solid .2rem $orange-FFA100;
            }
        }

        &.btn-secondary {
            background-color: $blue-004165;
            color: $white-FFFFFF;

            &:hover {
                background-color: $blue-002B4D;
            }
        }
    }

    .arrow-right {
        font-family: $poppinsBold;
        font-size: 1.6rem;
        color: $blue-004165;
        text-decoration: none;
        transition: all 0.3s ease;

        .fa-arrow-right {
            padding-left: 1rem;
        }

        &:hover {
            color: $blue-002B4D;
        }
    }

    .banner {
        color: $white-FFFFFF;
        background: $blue-7095A8 url("../img/banner-02.png") center bottom no-repeat;

        .arrow-right {
            color: $white-FFFFFF;

            &:hover {
                color: $blue-002B4D;
            }
        }

        .bg-gradient-dark {
            background: linear-gradient(180deg, rgba(64, 113, 139, 0) 80%, #182A34 99%);
        }

        .mob-height {
            height: 56.7rem;
        }

        .main-title {
            font-family: $futuraPTCondExtraBold;
            font-size: 5.2rem;
            line-height: 4.5rem;
        }

        .regular-text {
            font-family: $poppinsRegular;
            font-size: 1.8rem;
            line-height: 2.2rem;
        }

        .small {
            font-family: $poppinsRegular;
            font-size: 1.4rem;
        }
    }

    .list-type-check {
        list-style: none;
        padding: 0;

        li {
            background: url("../img/check-list.png") 0 .7rem no-repeat;
            font-family: $poppinsBold;
            font-size: 1.6rem;
            line-height: 2rem;
            padding-left: 2.5rem;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .sec-01 {
        h1 {
            font-family: $futuraPTCondExtraBold;
            font-size: 5.2rem;
            line-height: 4.2rem;
            color: $blue-004165;
        }

        h2 {
            font-family: $poppinsBold;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: $black-333333;
            background-position: 0 0;
            background-repeat: no-repeat;
            padding-top: 5rem;

            &.icon-signature-pen {
                background-image: url("../img/icon-signature-pen.png");
            }

            &.icon-user-plus {
                background-image: url("../img/icon-user-plus.png");
            }

            &.icon-cloud {
                background-image: url("../img/icon-cloud.png");
            }

            &.icon-shield {
                background-image: url("../img/icon-shield.png");
            }

            &.icon-clock {
                background-image: url("../img/icon-clock.png");
            }

            &.icon-plus {
                background-image: url("../img/icon-plus.png");
            }
        }

        p {
            font-family: $poppinsRegular;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $black-333333;

            &.small {
                font-family: $poppinsRegular;
                font-size: 1.4rem;
                color: $blue-004165;
            }
        }

    }


    .sec-02 {
        h1 {
            font-family: $futuraPTCondExtraBold;
            font-size: 4rem;
            line-height: 4.6rem;
            color: $blue-004165;
        }

        .switches-container {
            font-size: 1.6rem;
            border: solid .1rem $grey-B5B5B5;

            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                line-height: unset;
                font-weight: unset;
            }

            --switches-bg-color: #FFF;
            --switches-label-color: #B5B5B5;
            --switch-bg-color: #004165;
            --switch-text-color: #FFF;

            height: 6rem;
            min-width: 18rem;
            max-width: 34.2rem;
            position: relative;
            display: flex;
            padding: 0;
            position: relative;
            background: var(--switches-bg-color);
            line-height: 5.8rem;
            border-radius: 10rem;
            margin-left: auto;
            margin-right: auto;

            .text-white {
                color: $white-FFFFFF;
            }

            input {
                visibility: hidden !important;
                position: absolute;
                top: 0;
            }

            label {
                width: 50%;
                padding: 0;
                margin: 0;
                text-align: center;
                cursor: pointer;
                color: var(--switches-label-color);

                &::before,
                &::after {
                    display: none;
                }
            }

            .switch-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 50%;
                padding: .4rem;
                z-index: 3;
                transition: transform .5s cubic-bezier(.77, 0, .175, 1);

                .switch {
                    border-radius: 10rem;
                    background: var(--switch-bg-color);
                    height: 100%;

                    div {
                        width: 100%;
                        text-align: center;
                        opacity: 0;
                        display: block;
                        color: var(--switch-text-color);
                        transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
                        will-change: opacity;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            input:nth-of-type(1):checked~.switch-wrapper {
                transform: translateX(0%);
            }

            input:nth-of-type(2):checked~.switch-wrapper {
                transform: translateX(100%);
            }

            input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
                opacity: 1;
            }

            input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
                opacity: 1;
            }
        }

        .cards {
            .item {
                width: 100%;

                .card {
                    border: solid .1rem $grey-B5B5B5;
                    border-radius: 2rem;

                    &.mais-vendido {
                        border: solid .3rem $orange-FFA100;

                        &::before {
                            content: "Mais Vendido";
                            background-color: $orange-FFA100;
                            color: $blue-004165;
                            font-family: $poppinsBold;
                            font-size: 1.6rem;
                            text-align: center;
                            width: 14.2rem;
                            margin: -1.5rem auto -1.9rem;
                            border-radius: .8rem;
                            padding: .4rem;
                        }
                    }

                    .card-body {
                        transition: all .3s ease;
                        padding: 3rem 3.5rem 2.5rem;

                        h1 {
                            font-size: 5.2rem;
                        }

                        p {
                            font-family: $poppinsRegular;
                            color: $black-333333;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }

                        .tag {
                            display: inline-block;
                            font-weight: bold;
                            font-size: 1.6rem;
                            color: $white-FFFFFF;
                            background: $orange-FFA100;
                            border-radius: .5rem;
                            padding: .2rem .8rem;

                            &:empty {
                                padding: 0;
                            }
                        }

                        .line-through {
                            text-decoration: line-through;
                            font-size: 1.8rem;
                            color: $orange-FFA100;
                        }

                        .valor {
                            font-family: $futuraPTCondExtraBold;
                            font-size: 5.2rem;
                            color: $blue-004165;

                            small {
                                font-size: 3rem;
                                font-family: inherit;

                                span {
                                    font-family: $poppinsBold;
                                    font-size: 1.8rem;
                                }
                            }

                            .comp {
                                font-family: $poppinsBold;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }

    }

    .sec-03 {
        h1 {
            font-family: $futuraPTCondExtraBold;
            font-size: 5.8rem;
            line-height: 5.2rem;
            color: $blue-004165;
        }

        .small {
            font-family: $poppinsRegular;
            font-size: 1.4rem;
            color: $blue-004165;
        }
    }

    .sec-04 {
        
        h1 {
            font-family: $futuraPTCondExtraBold;
            font-size: 3rem;
            line-height: 3rem;
            color: $white-FFFFFF;

        }

        .bg-banner {
            border-radius: 1.6rem;
            background: $blue-7095A8 url("../img/banner2.png") 110% 2.2rem no-repeat;
            background-size: 120%;
            height: 4.8rem;
        }
    }
}