.new-pda {

    footer {
        background-color: $blue-004165;

        * {
            color: $white-FFFFFF;
        }

        h1 {
            font-family: $poppinsBold;
            font-size: 1.8rem;
        }

        .text-description {
            position: absolute;
            width: .1rem;
            height: .1rem;
            padding: 0;
            margin: -.1rem;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            font-size: .1rem;
        }

        .payment-methods {
            .payment-list {
                width: 80%;
                column-gap: 10%;
                row-gap: 1.5rem;

                .icon-paiment {
                    width: 4.3rem;
                    height: 3rem;
                    background-image: url("../img/footer-cards.png");
                    background-repeat: no-repeat;
                    position: relative;

                    &.pix {
                        background-position: left center;

                    }

                    &.visa {
                        background-position: -6.6rem center;
                    }

                    &.master {
                        background-position: -13.1rem center;
                    }

                    &.amex {
                        background-position: -19.6rem center;
                    }

                    &.diners {
                        background-position: -26.2rem center;
                    }

                    &.elo {
                        background-position: -32.7rem center;
                    }

                    &.hipercard {
                        background-position: -39.2rem center;
                    }

                    &.boleto {
                        background-position: right center;
                    }
                }
            }
        }

        .infos {
            .accordion {
                * {
                    background-color: $blue-004165;
                }

                .accordion-item {
                    border-color: $blue-7A9EB3;

                    .accordion-header {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }
                    
                    h2 {
                        font-family: $poppinsBold;
                        font-size: 1.8rem;
                    }
    
                    p, li {
                        font-family: $poppinsRegular;
                        font-size: 1.4rem;
                    }
    
                    .policies-list a {
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    .accordion-button,
                    .accordion-body {
                        background-color: $blue-004165;
                    }
    
                    .accordion-button {
                        color: $white-FFFFFF;
                        font-family: $poppinsBold;
                        font-size: 1.8rem;
    
                        &:focus {
                            border: none;
                            box-shadow: none;
                        }
    
                        &::after {
                            background-image: url("../img/accordion-icons.svg");
                            background-size: 70%;
                        }
                    }
                }

            }
        }

        .social {
            background-color: rgba($color: $black-000000, $alpha: 0.5);

            .logocertisign-footer {
                width: 14.5rem;
                height: 4.3rem;
                background: url("../img/footer-logotipo-certiSign.png") center center no-repeat;
            }

            .social-list {
                width: 80%;
                column-gap: 10%;

                .icon-social {
                    width: 2.7rem;
                    height: 2.7rem;
                    background-image: url("../img/footer-social.png");
                    background-repeat: no-repeat;

                    a {
                        display: block;
                        width: inherit;
                        height: inherit;
                        position: relative;
                    }

                    &.linkedin {
                        background-position: left center;
                    }

                    &.youtube {
                        background-position: -5.4rem center;
                    }

                    &.instagram {
                        background-position: -10.8rem center;
                    }

                    &.facebook {
                        background-position: -16.2rem center;
                    }

                    &.twitter {
                        background-position: -21.6rem center;
                    }

                    &.blog {
                        background-position: -27rem center;
                    }

                }
            }

        }
    }
}