// xs — Extra Small Screens
@media (min-width: 320px) {
    .sec-08 {
        .box-form-1 {
            .btn-home {
                padding-top: 5rem;

                a {
                    padding-left: 15px;
                    text-align: left;
                    color: $blue-005CB1;

                    &.arrow-left-blue {
                        background: url(../img/Icon-arrow-blue-left.png) 0 center no-repeat;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    &:focus,
                    &:focus-visible {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// s — Small Screens
@media (min-width: 640px) {
    body {
        .header {
            border-bottom: solid 4px $green-046673;

            .logo-izihub {
                width: auto;
            }

            .logo-certisign {
                width: auto;
            }
        }

        .btn-voltar {
            background-color: $blue-004066;
            color: $white-FFFFFF;
            height: $px-50;
            border-top: $px-5 solid $green-037887;

            &:hover {
                background-color: $green-037887;
            }

            .btn-inicio {
                cursor: pointer;
                padding-top: $px-10;
            }
        }

        .sec-01 {

            h1 {
                font-size: calc(#{$px-50 + $px-15});
                background-position: 268px center;
                background-size: auto;
            }

            p {
                font-size: $px-28;
                line-height: calc(#{$px-30 + $px-6});

                &.card-text {
                    line-height: $px-22;
                }
            }

            .card {

                &.lead {
                    width: calc(#{$px-50} * 6 + #{$px-12});
                    font-family: $poppinsMedium;
                    font-size: $px-18;
                    line-height: $px-22;

                    .card-text {
                        font-size: $px-20;
                        line-height: $px-28;
                    }
                }
            }

            .btn {
                font-size: $px-16;
                height: calc(#{$px-40 + $px-8});
            }

            input {
                font-family: $poppinsLight;
                font-size: $px-16;
                color: $black-333333;

                border: none;
                border-bottom: solid $px-2 $grey-CCCCCC;
                border-radius: 0;
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                    border-bottom: solid $px-2 $grey-CCCCCC;
                }


                &::placeholder {
                    font-family: $poppinsLight;
                    font-size: $px-16;
                    color: $black-333333;
                }

                &:-ms-input-placeholder {
                    font-family: $poppinsLight;
                    font-size: $px-16;
                    color: $black-333333;
                }

                &::-ms-input-placeholder {
                    font-family: $poppinsLight;
                    font-size: $px-16;
                    color: $black-333333;
                }
            }

            .stage {
                height: 370px;

                .scroll {
                    left: 10%;
                    width: 1160px;
                    padding: $px-30 $px-30 $px-20;

                    .card {
                        width: calc(#{$px-50} * 5 + #{$px-25});
                        margin-bottom: $px-10;

                        .card-body {
                            padding: $px-15 $px-15 $px-20;

                            figure {
                                margin-bottom: $px-30;

                                img {
                                    margin: 0;
                                }
                            }

                            p {
                                font-size: $px-18;
                                line-height: $px-27;
                                text-align: left;
                                height: calc(#{$px-50} * 3 + #{$px-20});
                            }
                        }
                    }

                    .owl-theme {
                        .owl-nav {
                            button {
                                &.owl-next {
                                    margin-right: 240px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .sec-02 {
            h1 {
                font-family: $futuraPTCondExtraBold;
                font-size: $px-40;
                line-height: $px-4;
                height: calc(#{$px-40 + $px-5});
                margin-top: $px-30;
            }

            h2 {
                font-family: $poppinsBold;
                font-size: $px-20;
                line-height: $px-25;
            }

            p {
                font-size: $px-18;
                line-height: $px-25;
            }
        }

        .sec-03 {
            background-color: $grey-E2E2E2;

            figure {
                border-radius: 0;
                height: calc(#{$px-50} * 12);
                overflow: hidden;
                margin-bottom: 0;

                img {
                    margin-top: 0;
                    height: calc(#{$px-50} * 12);
                    object-fit: cover;
                }
            }

            h1 {
                font-family: $futuraPTCondExtraBold;
                font-size: $px-40;
                line-height: calc(#{$px-40 + $px-5});
                ;
            }

            p,
            li {
                font-family: $poppinsSemiBold;
                font-size: $px-20;
                line-height: $px-30;
            }
        }

        .sec-04 {
            h1 {
                font-family: $futuraPTCondExtraBold;
                font-size: $px-40;
                line-height: calc(#{$px-40 + $px-5});
            }

            p {
                font-family: $poppinsSemiBold;
                font-size: $px-20;
                line-height: $px-30;
            }

            .img-cell {
                height: calc(#{$px-50} * 11 + #{$px-10});
                display: block;
                margin: 50px auto -50px;
            }

            .mr-3 {
                margin-right: 30px;
            }
        }

        .sec-05 {
            h1 {
                font-family: $futuraPTCondExtraBold;
                font-size: $px-40;
                line-height: calc(#{$px-40 + $px-5});
                text-align: center;
                margin-top: $px-40;
            }

            p {
                font-size: $px-20;
                text-align: center;
            }

            .stage {
                position: unset;
                height: unset;
                overflow: unset;

                .scroll {
                    padding: 0;

                    position: unset;
                    left: unset;
                    width: unset;

                    .card {
                        width: unset;
                        margin-bottom: $px-10;

                        figure {
                            height: auto;
                            margin: 0;


                            img {
                                width: 100%;
                                margin: 0;
                            }
                        }

                        .card-body {
                            padding: $px-15;

                            h3 {
                                font-size: $px-18;
                                line-height: $px-25;
                                height: auto;
                            }

                            p {
                                font-size: $px-18;
                                line-height: $px-25;
                                text-align: left;
                                height: auto;
                            }

                        }
                    }

                    .link-read-more {
                        height: $px-40;
                        margin: $px-15 $px-5 0;

                        a {
                            font-size: $px-16;
                            line-height: $px-22;
                            color: $blue-005CB1;
                            font-family: $poppinsMedium;
                            text-decoration: none;
                            padding-right: $px-20;
                            background: transparent url('../img/Icon-arrow-up-right.png') right center no-repeat;
                        }
                    }

                    .owl-theme {
                        .owl-nav {
                            margin: -10px 10px 0;

                            button {
                                &.owl-next {
                                    margin-right: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sec-07 {
            .box-footer {
                .box-footer-1 {
                    padding: $px-50 0 $px-20 $px-20;
                    border-bottom: $px-1 solid $white-FFFFFF;

                    .medias {
                        margin-left: 60px;

                        span {
                            font-size: $px-20;
                            font-family: $poppinsMedium;
                            margin-bottom: $px-5;
                        }
                    }
                }

                .box-footer-2 {
                    border-bottom: $px-1 solid $white-FFFFFF;
                    padding-bottom: $px-20;
                    margin-bottom: $px-40;

                    h2 {
                        padding-top: $px-40;
                        font-size: $px-20;
                        font-family: $poppinsSemiBold;
                    }

                    h3 {
                        font-size: $px-14;
                        padding: $px-10 0;
                    }

                    dl {
                        dt {
                            font-size: $px-14;
                            font-family: $poppinsMedium;

                        }

                        dd {
                            font-size: $px-18;
                            font-family: $poppinsSemiBold;
                        }
                    }

                    .disclaimer {
                        font-size: $px-12;
                        font-family: $poppinsMedium; // mudar para regular
                    }

                    .autoatendimento {
                        a {
                            display: block;
                            margin-bottom: $px-20;
                            color: $white-FFFFFF;
                            text-decoration: none;
                            font-size: $px-14;
                        }
                    }
                }

                .box-footer-3 {
                    p {
                        text-align: center;
                        font-size: $px-12;
                        font-family: $poppinsMedium;
                    }
                }
            }
        }

        .sec-08 {
            .box-form-1 {
                padding-top: $px-40;
            }

            .box-form-2 {
                form {
                    padding-top: $px-20;
                    margin-bottom: 20px;
                }
            }
        }

        .sec-09 {
            .modal {
                .modal-content {
                    margin-top: calc(#{$px-50} * 3);
                }
            }
        }
    }
}

// m — Medium Screens
@media (min-width: 960px) {
    .sec-08 {
        .box-form-1 {
            p {
                font-size: $px-30;
            }
        }

        .box-form-2 {
            padding: 0 60px;

            form {
                margin-bottom: $px-30;
            }
        }
    }

    footer {
        .sec-07 {
            .box-footer {
                .box-footer-1 {
                    p {
                        font-size: $px-20;
                        text-align: center;
                        font-family: $poppinsMedium;
                    }

                    .medias {
                        span {
                            padding-left: 12rem;
                        }

                        .social-medias {
                            margin: 0 !important;
                            justify-content: end;
                            padding-right: 0;

                            li {
                                padding-right: 0 !important;
                                padding-left: $px-26;
                            }
                        }
                    }
                }

                .box-footer-2 {
                    h3 {
                        font-size: $px-18;
                    }
                }
            }
        }
    }
}

// l — Large Screens
@media (min-width: 1200px) {
    body {
        .sec-01 {
            .stage {

                .scroll {
                    left: 20%;
                    width: 1230px;

                    .owl-theme {
                        .owl-nav {
                            button {
                                &.owl-next {
                                    margin-right: 140px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .sec-08 {
            .box-form-1 {
                p {
                    font-size: 36px;
                    line-height: $px-40;
                    padding-left: $px-25;
                }
            }

            .box-form-2 {
                padding: 0 75px;
                margin-top: 1.5rem;
            }
        }

        footer {
            .sec-07 {
                .box-footer {
                    .box-footer-1 {
                        .medias {
                            span {
                                padding-left: $px-30;
                            }

                            .social-medias {
                                justify-content: space-between;
                            }
                        }
                    }

                    .box-footer-2 {
                        .autoatendimento {
                            padding-left: 110px;
                        }
                    }
                }
            }
        }
    }
}

// xl — Extra Large Screens
@media (min-width: 1600px) {
    body {
        .sec-01 {
            .stage {
                .scroll {
                    width: 1375px;

                    .card {
                        width: auto;
                    }

                    .owl-theme {
                        .owl-nav {
                            button {
                                &.owl-next {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}
