// xs — Extra Small Screens
@media (min-width: 576px) {
    .new-pda {}
}

// s — Small Screens
@media (min-width: 768px) {
    .new-pda {}
}

// m — Medium Screens
@media (min-width: 992px) {
    .new-pda {
        &.active-menu {

            &.item-01,
            &.item-02,
            &.item-03,
            &.item-04,
            &.item-05,
            &.item-06,
            &.item-07,
            &.item-08,
            &.item-09,
            &.item-10 {
                .nav-main {
                    .navbar {
                        .nav-link {
                            margin-right: $px-5;

                            &.active {
                                display: block;
                                border-bottom: solid 3px $blue-004165;
                            }

                            &:hover {
                                border-bottom: solid 3px $blue-004165;
                            }
                        }
                    }
                }
            }
        }

        header {
            .login-bar {
                .main-title {
                    font-size: $px-40;
                }
            }

            .navbar,
            .nav-link {
                height: $px-50;
            }
        }

        main {
            .banner {
                color: $white-FFFFFF;
                background: $blue-7095A8;

                .bg-gradient-dark {
                    background: none;
                }

                .mob-height {
                    height: 630px;
                }

                .main-title {
                    font-family: $futuraPTCondExtraBold;
                    font-size: calc(#{$px-50 + $px-14});
                    line-height: calc(#{$px-50 + $px-5});
                }

                .regular-text {
                    line-height: $px-26;
                }

                .img-banner {
                    display: block;
                    margin-left: 15%;
                }
            }

            .sec-01 {
                .resources {
                    .tit {
                        width: 30%;
                        float: left;
                    }

                    .resources {
                        width: 70%;
                        float: right;
                        padding-left: 60px;

                        .resources-list {
                            display: flex;
                            gap: 20px;
                        }
                    }

                    .free-try {
                        width: 40%;
                    }

                }

            }


            .sec-02 {
                h1 {
                    font-family: $futuraPTCondExtraBold;
                    font-size: 52px;
                }

                .cards {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    align-content: stretch;
                    gap: 20px;

                    .item {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: auto;
                        align-self: auto;
                        height: 670px;

                        .card {
                            border-radius: 20px;
                            padding-bottom: 10px;

                            .card-body {
                                min-height: 640px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                padding-top: 10px;



                                h1 {
                                    font-family: $futuraPTCondExtraBold;
                                    font-size: 58px;
                                    line-height: inherit;
                                }

                                p {
                                    font-size: 16px;
                                    line-height: 24px;
                                }

                                .tag {
                                    display: inline-block;
                                    font-weight: bold;
                                    font-size: 16px;
                                    color: $white-FFFFFF;
                                    background: green;
                                    border-radius: 5px;
                                    padding: 2px 8px;
                                }

                                .line-through {
                                    text-decoration: line-through;
                                    font-size: 18px;
                                    color: orange;
                                }

                                .valor {
                                    font-size: 46px;

                                    small {
                                        font-size: 30px;
                                        font-family: inherit;

                                        span {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .sec-04 {
                display: flex;
                
                h1 {
                    font-size: calc(#{$px-50 + $px-2});
                    line-height: calc(#{$px-40 + $px-6});
        
                }
            }

        }


        footer {
            .payment-methods {

                .payment-list {
                    width: 100%;
                    column-gap: 3%;
                }
            }

            .social {
                .social-list {
                    width: 100%;
                    column-gap: 4%;
                }
            }

            .infos {
                .accordion {
                    display: flex;

                    .accordion-item {
                        width: 100%;
                        border: none;
                        display: block;

                        .accordion-button {
                            cursor: default;

                            &::after {
                                display: none;
                            }

                            &:not(.collapsed) {
                                box-shadow: none !important;
                            }
                        }

                        .accordion-collapse {
                            transition: none !important;
                        }

                        .accordion-body,
                        &.collapse,
                        .collapse:not(.show) {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}

// l — Large Screens
@media (min-width: 1200px) {
    .new-pda {}
}

// xl — Extra Large Screens
@media (min-width: 1400px) {
    .new-pda {}
}

// xxl — Extra Large Screens
@media (min-width: 1400px) {
    .new-pda {
        .sec-02 {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            .card {
                                .card-body {
                                    h1 {
                                        font-size: 52px;
                                    }

                                    .valor {
                                        font-size: 52px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}