// COLOR PALETTE
$black-000000: #000000;
$black-333333: #333333;
$blue-002B4D: #002B4D;
$blue-004165: #004165;
$blue-40718B: #40718B;
$blue-7095A8: #7095A8;
$blue-7A9EB3: #7A9EB3;
$grey-B5B5B5: #B5B5B5;
$grey-F2F2F2: #F2F2F2;
$orange-E38E00: #E38E00;
$orange-FFA100: #FFA100;
$white-FFFFFF: #FFFFFF;

