/* Table of content
--------------------------------------------------- */
/* Typography
--------------------------------------------------- */
@font-face {
  font-family: poppinsLight;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poppinsRegular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppinsItalic;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTMedium;
  src: url("../fonts/FuturaPT/FuturaPTMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTBold;
  src: url("../fonts/FuturaPT/FuturaPTBold.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondMedium;
  src: url("../fonts/FuturaPT/FuturaPTCondMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondExtraBold;
  src: url("../fonts/FuturaPT/FuturaPTCondExtraBold.otf");
  font-weight: 700;
}
.poppinsLight {
  font-family: "poppinsLight", sans-serif;
}

.poppinsMedium {
  font-family: "PoppinsMedium", sans-serif;
}

.poppinsBold {
  font-family: "poppinsBold", sans-serif;
}

.poppinsItalic {
  font-family: "poppinsItalic", sans-serif;
}

.futuraPTMedium {
  font-family: "futuraPTMedium", sans-serif;
}

.futuraPTCondMedium {
  font-family: "futuraPTCondMedium", sans-serif;
}

.futuraPTCondExtraBold {
  font-family: "futuraPTCondExtraBold", sans-serif;
}

body {
  font-family: "PoppinsMedium", sans-serif;
  color: #333333;
}

/* Header
--------------------------------------------------- */
/* Body
--------------------------------------------------- */
.new-pda {
  overflow-x: hidden;
  background-color: #FFFFFF;
}
.new-pda .poppins-bold {
  font-family: "poppinsBold", sans-serif;
}
.new-pda .poppins-semi-bold {
  font-family: "poppinsSemiBold", sans-serif;
}

/* Footer
--------------------------------------------------- */
/* Responsive
--------------------------------------------------- */