/* Table of content
--------------------------------------------------- */
/* Typography
--------------------------------------------------- */
@font-face {
  font-family: poppinsLight;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poppinsRegular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsMedium;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppinsSemiBold;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poppinsBold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: poppinsItalic;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTMedium;
  src: url("../fonts/FuturaPT/FuturaPTMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTBold;
  src: url("../fonts/FuturaPT/FuturaPTBold.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondMedium;
  src: url("../fonts/FuturaPT/FuturaPTCondMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futuraPTCondExtraBold;
  src: url("../fonts/FuturaPT/FuturaPTCondExtraBold.otf");
  font-weight: 700;
}
.poppinsLight {
  font-family: "poppinsLight", sans-serif;
}

.poppinsMedium {
  font-family: "PoppinsMedium", sans-serif;
}

.poppinsBold {
  font-family: "poppinsBold", sans-serif;
}

.poppinsItalic {
  font-family: "poppinsItalic", sans-serif;
}

.futuraPTMedium {
  font-family: "futuraPTMedium", sans-serif;
}

.futuraPTCondMedium {
  font-family: "futuraPTCondMedium", sans-serif;
}

.futuraPTCondExtraBold {
  font-family: "futuraPTCondExtraBold", sans-serif;
}

body {
  font-family: "PoppinsMedium", sans-serif;
  color: #333333;
}

/* Header
--------------------------------------------------- */
header .header {
  background-color: #004165;
}
header .header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "poppinsSemiBold", sans-serif;
  font-size: 1rem;
}
header .header a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
header .header figure {
  margin: 0;
}
header .header .logo-izihub {
  width: 50%;
}
header .header .logo-certisign {
  width: 27%;
}

/* Body
--------------------------------------------------- */
body {
  overflow-x: hidden;
  background-color: #FFFFFF;
}
body .poppins-bold {
  font-family: "poppinsBold", sans-serif;
}
body .poppins-semi-bold {
  font-family: "poppinsSemiBold", sans-serif;
}
body .card {
  border-radius: 0.438rem;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  margin-bottom: 0.188rem;
}
body .owl-theme .owl-nav {
  margin: 0 0 0.313rem 0;
}
body .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}
body .owl-theme .owl-nav button span {
  display: block;
  font-size: 0;
  width: 1rem;
  height: 1.063rem;
  background-size: 0.875rem 1.063rem !important;
}
body .owl-theme .owl-nav button.owl-prev span {
  background: transparent url("../img/Icon-arrow-left.png") center center no-repeat !important;
  margin-right: 1.25rem;
}
body .owl-theme .owl-nav button.owl-next span {
  background: transparent url("../img/Icon-arrow-right.png") center center no-repeat !important;
  margin-left: 1.25rem;
}
body .read-more .crop {
  height: 165px;
  overflow: hidden;
  position: relative;
}
body .read-more .crop::after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  content: "...";
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1rem;
  color: #444444;
  padding-right: 0.938rem;
  text-align: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FFFFFF));
  background-image: linear-gradient(to bottom, transparent, #FFFFFF);
}
body .read-more .crop :last-child {
  margin-bottom: 0;
}
body .read-more .create-btn-expand {
  height: 2.5rem;
  margin: 0.938rem 0.313rem 0;
}
body .read-more .create-btn-expand .btn-read-more {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #005CB1;
  font-family: "PoppinsMedium", sans-serif;
  border: none;
  padding-right: 1.25rem;
  background: transparent url("../img/Icon-arrow-down.png") right center no-repeat;
}
body .read-more .create-btn-expand ::before {
  content: "Ler mais";
}
body .read-more .create-btn-expand.less .btn-read-more {
  background: transparent url("../img/Icon-arrow-up.png") right center no-repeat;
}
body .read-more .create-btn-expand.less ::before {
  content: "Ler menos";
}
body .read-more .card-body {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 165px;
}
body .read-more .card-body :first-child {
  margin-top: 1 0.625rem;
}
body .read-more .card-body :last-child {
  margin-bottom: 0;
}
body .list-type-check {
  list-style: none;
  padding: 0;
}
body .list-type-check li {
  background: url("../img/Icon-check.png") 0 7px no-repeat;
  padding-left: 1.563rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.313rem;
}
body .list-type-check li:last-child {
  margin-bottom: 0;
}
body .sec-01 {
  background-color: #E2E2E2;
}
body .sec-01 .btn {
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: none;
  background-color: #037887;
  font-family: "PoppinsMedium", sans-serif;
}
body .sec-01 .btn:hover {
  background-color: #004165;
}
body .sec-01 .btn:active, body .sec-01 .btn:focus, body .sec-01 .btn:active:focus {
  background-color: #004165;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .sec-01 .pr-0 {
  padding-right: 0;
}
body .sec-01 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.875rem;
  background: url("../img/logo-izihub-verde.png") 125px center no-repeat;
  background-size: 73px auto;
}
body .sec-01 p {
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
body .sec-01 p.card-text {
  line-height: 1.375rem;
}
body .sec-01 .card.lead {
  width: calc(3.125rem * 6 - 0.625rem);
  font-family: "PoppinsMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
body .sec-01 .btn {
  font-size: 1rem;
}
body .sec-01 .btn.arrow-right {
  background: #037887 url("../img/Icon-arrow-white-right.png") 80% center no-repeat;
  padding-right: 1.563rem;
}
body .sec-01 .btn.arrow-right:hover {
  background-color: #004165;
}
body .sec-01 .btn.disabled {
  background: #E7E7E7 url("../img/Icon-arrow-right.png") 80% center no-repeat;
  color: #333333;
  opacity: 0.4;
}
body .sec-01 .btn.arrow-right-white {
  background: #037887 url("../img/Icon-arrow-white-right.png") 80% center no-repeat;
}
body .sec-01 input {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
  border: none;
  border-bottom: solid 2px #CCCCCC;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .sec-01 input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: solid 2px #CCCCCC;
}
body .sec-01 input::-webkit-input-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-moz-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input:-ms-input-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-ms-input-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input:-ms-input-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 input::-ms-input-placeholder {
  font-family: "poppinsRegular", sans-serif;
  font-size: 1rem;
  color: #333333;
}
body .sec-01 .stage {
  position: relative;
  height: 330px;
  overflow: visible;
}
body .sec-01 .stage .scroll {
  padding: 0.625rem;
  border-radius: 0.438rem;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  position: absolute;
  left: 0;
  width: 430px;
}
body .sec-01 .stage .scroll .card {
  width: calc(3.125rem * 4);
  margin-bottom: 0.625rem;
}
body .sec-01 .stage .scroll .card .card-body {
  padding: 0.938rem 0.313rem;
}
body .sec-01 .stage .scroll .card .card-body figure {
  margin-bottom: 1.25rem;
}
body .sec-01 .stage .scroll .card .card-body figure img {
  height: 1.688rem;
  width: auto;
  display: block;
  margin: 0 auto;
}
body .sec-01 .stage .scroll .card .card-body p {
  font-size: 1rem;
  line-height: 1.563rem;
  color: #444444;
  text-align: center;
  padding: 0 0.625rem;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: calc(3.125rem * 3 + 1.875rem);
  margin: 0 auto;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .sec-01 .stage .scroll .owl-theme .owl-nav {
  margin: -10px 10px 0;
}
body .sec-02 h1 {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-02 .card-body h2 {
  font-family: "poppinsBold", sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
  height: 35px;
  padding: 5px 0 0 35px;
  margin: 10px 0;
  background-position: 0 center;
  background-repeat: no-repeat;
}
body .sec-02 .card-body h2.ico-governo {
  background-image: url("../img/icon-gov.png");
}
body .sec-02 .card-body h2.ico-entidades {
  background-image: url("../img/icon-user.png");
}
body .sec-02 .card-body h2.ico-saude {
  background-image: url("../img/heart-icon.png");
}
body .sec-02 .card-body h2.ico-educacao {
  background-image: url("../img/icon-educ.png");
}
body .sec-02 .card-body h2.ico-onboard {
  background-image: url("../img/Icon-box-container.png");
}
body .sec-02 .card-body h2.ico-dolar {
  background-image: url("../img/dolar.png");
}
body .sec-02 .card-body h2.ico-acesso {
  background-image: url("../img/icon-acesso.png");
}
body .sec-02 .card-body p {
  color: #444444;
}
body .sec-03 h1 {
  font-family: "futuraPTBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-03 figure {
  border-radius: 0.438rem;
  height: calc(3.125rem * 4 + 0.938rem);
  overflow: hidden;
}
body .sec-03 figure img {
  margin-top: -1.25rem;
}
body .sec-04 h1 {
  font-family: "futuraPTBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-04 p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #333333;
}
body .sec-04 .img-cell {
  height: calc(3.125rem * 6 + 1.875rem);
  display: block;
  margin-left: auto;
  margin-right: -1.25rem;
}
body .sec-05 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F1F1F1), color-stop(50%, #FFFFFF));
  background: linear-gradient(180deg, #F1F1F1 50%, #FFFFFF 50%);
}
body .sec-05 h1 {
  font-family: "futuraPTBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
body .sec-05 .stage {
  position: relative;
  height: calc(3.125rem * 8 + 1.875rem);
  overflow: visible;
}
body .sec-05 .stage .scroll {
  padding: 0;
  position: absolute;
  left: 0;
  width: calc(3.125rem * 10 + 0.625rem);
}
body .sec-05 .stage .scroll .card {
  width: calc(3.125rem * 5 - 0.125rem);
  margin-bottom: 0.625rem;
}
body .sec-05 .stage .scroll .card figure {
  border-top-left-radius: 0.438rem;
  border-top-right-radius: 0.438rem;
  margin-bottom: 0;
  height: calc(3.125rem * 2 + 1.5rem);
  overflow: hidden;
}
body .sec-05 .stage .scroll .card figure img {
  width: auto;
  display: block;
  margin-left: -30px;
}
body .sec-05 .stage .scroll .card .card-body {
  padding: 0.938rem;
}
body .sec-05 .stage .scroll .card .card-body h3 {
  font-size: 1rem;
  font-family: "poppinsBold", sans-serif;
  margin-bottom: 0.625rem;
  height: 2.5rem;
  overflow: hidden;
}
body .sec-05 .stage .scroll .card .card-body p {
  height: calc(3.125rem * 2 - 0.25rem);
  overflow: hidden;
}
body .sec-05 .stage .scroll .link-read-more {
  height: 2.5rem;
  margin: 0.938rem 0.313rem 0;
}
body .sec-05 .stage .scroll .link-read-more a {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #005CB1;
  font-family: "PoppinsMedium", sans-serif;
  text-decoration: none;
  padding-right: 1.25rem;
  background: transparent url("../img/Icon-arrow-up-right.png") right center no-repeat;
}
body .sec-05 .stage .scroll .link-read-more a:hover {
  text-decoration: underline;
}
body .sec-05 .stage .scroll .owl-theme .owl-nav {
  margin: -10px 10px 0;
}
body .sec-05 .stage .scroll .owl-theme .owl-nav button.owl-next {
  margin-right: 100px;
}
body .sec-06 {
  margin-top: 1.875rem;
  font-family: "futuraPTCondExtraBold", sans-serif;
  padding-left: 0.625rem;
}
body .sec-06 h1 {
  color: #333333;
  font-size: 2.5rem;
}
body .sec-06 .accordion-faq {
  font-family: "PoppinsMedium", sans-serif;
}
body .sec-06 .accordion-faq .card {
  border: none;
  border-bottom: solid 0.063rem #6E6F74;
  margin-top: 1.25rem;
  -webkit-filter: none;
          filter: none;
}
body .sec-06 .accordion-faq .card h5 {
  width: 100%;
}
body .sec-06 .accordion-faq .card .card-header,
body .sec-06 .accordion-faq .card .card-body {
  padding: 0;
  border-bottom: none;
  background-color: #FFFFFF;
}
body .sec-06 .accordion-faq .card .card-body {
  padding-bottom: 0.938rem;
}
body .sec-06 .accordion-faq .card .card-body .card-image {
  width: 100%;
}
body .sec-06 .accordion-faq .card .card-body a {
  text-decoration: none;
}
body .sec-06 .accordion-faq .card .card-body a:hover {
  text-decoration: underline;
}
body .sec-06 .accordion-faq .card .btn {
  text-decoration: none;
  font-size: 1.125rem !important;
  color: #333333;
}
body .sec-06 .accordion-faq .card .btn,
body .sec-06 .accordion-faq .card p {
  font-size: 1.125rem !important;
  line-height: 1.375rem;
  color: #333333;
  text-align: left;
  padding: 0;
}
body .sec-06 .accordion-faq .card .btn {
  white-space: normal;
  padding-right: 1.25rem;
  margin-bottom: 0.938rem;
  border-radius: 0;
}
body .sec-06 .accordion-faq .card .btn::after {
  position: absolute;
  top: -0.25rem;
  right: 0.313rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "+";
  display: block;
  width: 0.938rem;
  height: 0.938rem;
  font-size: 1.5rem;
  color: #6E6F74;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .sec-06 .accordion-faq .card .btn:not(.collapsed)::after {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  content: "-";
}
body .sec-06 .accordion-faq .card .btn:hover {
  text-decoration: none;
}
body .sec-06 .accordion-faq .faq-read-more .more-content.content-hidden {
  display: none;
}
body .sec-06 .accordion-faq .faq-read-more .btn-read-more {
  margin-top: 0.625rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #005CB1;
  font-family: "PoppinsMedium", sans-serif;
  border: none;
  padding-right: 1.25rem;
  background: transparent url("../img/Icon-arrow-up.png") right center no-repeat;
}
body .sec-06 .accordion-faq .faq-read-more .btn-read-more::before {
  content: "Ver menos";
}
body .sec-06 .accordion-faq .faq-read-more .btn-read-more.collapsed {
  background-image: url("../img/Icon-arrow-down.png");
}
body .sec-06 .accordion-faq .faq-read-more .btn-read-more.collapsed::before {
  content: "Ver mais";
}
body .sec-08 .box-form-1 {
  background-color: #F5F5F5;
  padding: 20px 0 0 20px;
}
body .sec-08 .box-form-1 p {
  font-family: "futuraPTCondExtraBold", sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
  margin-bottom: 1.563rem;
}
body .sec-08 .box-form-1 img {
  width: 60%;
  margin: auto;
  display: block;
}
body .sec-08 .box-form-2 {
  margin-top: 0.625rem;
}
body .sec-08 .box-form-2 form {
  padding: 0 0.625rem;
}
body .sec-08 .box-form-2 form .form-group {
  position: relative;
  margin-bottom: 0.625rem;
}
body .sec-08 .box-form-2 form .form-group .form-control {
  border-color: #6E6F74;
  border-radius: 0.625rem;
  padding: 0.625rem 1.563rem 0.625rem 1.25rem;
  opacity: 0.6;
}
body .sec-08 .box-form-2 form .form-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-color: #6E6F74;
}
body .sec-08 .box-form-2 form .form-group .form-control.valid {
  border-color: #009900;
  background: url("../img/checked-green.png") 98% center no-repeat;
}
body .sec-08 .box-form-2 form .form-group span {
  position: relative;
  top: -60px;
  left: 0.625rem;
  color: #6E6F74;
  font-size: 1.063rem;
  font-family: "poppinsSemiBold", sans-serif;
  padding: 0 0.625rem;
  background: #FFFFFF;
}
body .sec-08 .box-form-2 form .validation-check {
  font-size: 1rem;
  font-family: "PoppinsMedium", sans-serif;
  color: #444444;
}
body .sec-08 .box-form-2 form .validation-check .form-check {
  margin-bottom: 1.563rem;
}
body .sec-08 .box-form-2 form .validation-check .form-check input[type=checkbox] {
  border-radius: 50%;
}
body .sec-08 .box-form-2 form .btn {
  background-color: #E7E7E7;
  width: 100%;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: none;
  font-family: "PoppinsMedium", sans-serif;
  color: #BCBCBC;
  margin-bottom: 1.875rem;
}
body .sec-08 .box-form-2 form .btn:hover {
  background-color: #004165;
}
body .sec-08 .box-form-2 form .btn:active, body .sec-08 .box-form-2 form .btn:focus, body .sec-08 .box-form-2 form .btn:active:focus {
  background-color: #004165;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .sec-09 .modal {
  font-family: "PoppinsMedium", sans-serif;
}
body .sec-09 .modal * {
  border: none;
}
body .sec-09 .modal .modal-content {
  width: calc(3.125rem * 6 + 1.75rem);
  padding: 0 0.938rem;
  margin: 3.125rem auto 0;
  border-radius: 0.625rem;
}
body .sec-09 .modal .modal-content .modal-header {
  display: unset;
  text-align: center;
  padding-bottom: 0;
}
body .sec-09 .modal .modal-content .modal-header figure {
  margin: -60px auto 0.625rem;
}
body .sec-09 .modal .modal-content .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
body .sec-09 .modal .modal-content .modal-footer {
  padding-bottom: 1.875rem;
}
body .sec-09 .modal .modal-content h1 {
  font-family: "poppinsBold", sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 1.25rem;
}
body .sec-09 .modal .modal-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #444444;
  margin-bottom: 0.625rem;
}
body .sec-09 .modal .modal-content .btn {
  font-size: 1rem;
  color: #FFFFFF;
  border-radius: 1.563rem;
  width: 100%;
  height: calc(3rem);
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.25));
}
body .sec-09 .modal .modal-content .btn.btn-sucesso {
  background-color: #009900;
}
body .sec-09 .modal .modal-content .btn.btn-erro {
  background-color: #F67273;
}

/* Footer
--------------------------------------------------- */
footer .sec-07 {
  background-color: #001724;
}
footer .sec-07 .box-footer {
  color: #FFFFFF;
}
footer .sec-07 .box-footer .box-footer-1 {
  padding-left: 0;
}
footer .sec-07 .box-footer .box-footer-1 .logo-footer {
  width: 30%;
  margin-bottom: 1.25rem;
}
footer .sec-07 .box-footer .box-footer-1 .copyright-mobile {
  font-family: "PoppinsMedium", sans-serif;
  font-size: 0.875rem;
  margin: 1.875rem 0;
}
footer .sec-07 .box-footer .box-footer-1 .medias .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
footer .sec-07 .box-footer .box-footer-1 .medias .social-medias li {
  padding-right: 1.875rem;
}

/* Responsive
--------------------------------------------------- */
@media (min-width: 320px) {
  .sec-08 .box-form-1 .btn-home {
    padding-top: 5rem;
  }
  .sec-08 .box-form-1 .btn-home a {
    padding-left: 15px;
    text-align: left;
    color: #005CB1;
  }
  .sec-08 .box-form-1 .btn-home a.arrow-left-blue {
    background: url(../img/Icon-arrow-blue-left.png) 0 center no-repeat;
  }
  .sec-08 .box-form-1 .btn-home a:hover {
    text-decoration: underline;
  }
  .sec-08 .box-form-1 .btn-home a:focus, .sec-08 .box-form-1 .btn-home a:focus-visible {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (min-width: 640px) {
  body .header {
    border-bottom: solid 4px #046673;
  }
  body .header .logo-izihub {
    width: auto;
  }
  body .header .logo-certisign {
    width: auto;
  }
  body .btn-voltar {
    background-color: #004066;
    color: #FFFFFF;
    height: 3.125rem;
    border-top: 0.313rem solid #037887;
  }
  body .btn-voltar:hover {
    background-color: #037887;
  }
  body .btn-voltar .btn-inicio {
    cursor: pointer;
    padding-top: 0.625rem;
  }
  body .sec-01 h1 {
    font-size: calc(4.063rem);
    background-position: 268px center;
    background-size: auto;
  }
  body .sec-01 p {
    font-size: 1.75rem;
    line-height: calc(2.25rem);
  }
  body .sec-01 p.card-text {
    line-height: 1.375rem;
  }
  body .sec-01 .card.lead {
    width: calc(3.125rem * 6 + 0.75rem);
    font-family: "PoppinsMedium", sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  body .sec-01 .card.lead .card-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  body .sec-01 .btn {
    font-size: 1rem;
    height: calc(3rem);
  }
  body .sec-01 input {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
    border: none;
    border-bottom: solid 0.125rem #CCCCCC;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .sec-01 input:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: solid 0.125rem #CCCCCC;
  }
  body .sec-01 input::-webkit-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-moz-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input:-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input:-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 input::-ms-input-placeholder {
    font-family: "poppinsLight", sans-serif;
    font-size: 1rem;
    color: #333333;
  }
  body .sec-01 .stage {
    height: 370px;
  }
  body .sec-01 .stage .scroll {
    left: 10%;
    width: 1160px;
    padding: 1.875rem 1.875rem 1.25rem;
  }
  body .sec-01 .stage .scroll .card {
    width: calc(3.125rem * 5 + 1.563rem);
    margin-bottom: 0.625rem;
  }
  body .sec-01 .stage .scroll .card .card-body {
    padding: 0.938rem 0.938rem 1.25rem;
  }
  body .sec-01 .stage .scroll .card .card-body figure {
    margin-bottom: 1.875rem;
  }
  body .sec-01 .stage .scroll .card .card-body figure img {
    margin: 0;
  }
  body .sec-01 .stage .scroll .card .card-body p {
    font-size: 1.125rem;
    line-height: 1.688rem;
    text-align: left;
    height: calc(3.125rem * 3 + 1.25rem);
  }
  body .sec-01 .stage .scroll .owl-theme .owl-nav button.owl-next {
    margin-right: 240px;
  }
  body .sec-02 h1 {
    font-family: "futuraPTCondExtraBold", sans-serif;
    font-size: 2.5rem;
    line-height: 0.25rem;
    height: calc(2.813rem);
    margin-top: 1.875rem;
  }
  body .sec-02 h2 {
    font-family: "poppinsBold", sans-serif;
    font-size: 1.25rem;
    line-height: 1.563rem;
  }
  body .sec-02 p {
    font-size: 1.125rem;
    line-height: 1.563rem;
  }
  body .sec-03 {
    background-color: #E2E2E2;
  }
  body .sec-03 figure {
    border-radius: 0;
    height: calc(3.125rem * 12);
    overflow: hidden;
    margin-bottom: 0;
  }
  body .sec-03 figure img {
    margin-top: 0;
    height: calc(3.125rem * 12);
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .sec-03 h1 {
    font-family: "futuraPTCondExtraBold", sans-serif;
    font-size: 2.5rem;
    line-height: calc(2.813rem);
  }
  body .sec-03 p,
body .sec-03 li {
    font-family: "poppinsSemiBold", sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  body .sec-04 h1 {
    font-family: "futuraPTCondExtraBold", sans-serif;
    font-size: 2.5rem;
    line-height: calc(2.813rem);
  }
  body .sec-04 p {
    font-family: "poppinsSemiBold", sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  body .sec-04 .img-cell {
    height: calc(3.125rem * 11 + 0.625rem);
    display: block;
    margin: 50px auto -50px;
  }
  body .sec-04 .mr-3 {
    margin-right: 30px;
  }
  body .sec-05 h1 {
    font-family: "futuraPTCondExtraBold", sans-serif;
    font-size: 2.5rem;
    line-height: calc(2.813rem);
    text-align: center;
    margin-top: 2.5rem;
  }
  body .sec-05 p {
    font-size: 1.25rem;
    text-align: center;
  }
  body .sec-05 .stage {
    position: unset;
    height: unset;
    overflow: unset;
  }
  body .sec-05 .stage .scroll {
    padding: 0;
    position: unset;
    left: unset;
    width: unset;
  }
  body .sec-05 .stage .scroll .card {
    width: unset;
    margin-bottom: 0.625rem;
  }
  body .sec-05 .stage .scroll .card figure {
    height: auto;
    margin: 0;
  }
  body .sec-05 .stage .scroll .card figure img {
    width: 100%;
    margin: 0;
  }
  body .sec-05 .stage .scroll .card .card-body {
    padding: 0.938rem;
  }
  body .sec-05 .stage .scroll .card .card-body h3 {
    font-size: 1.125rem;
    line-height: 1.563rem;
    height: auto;
  }
  body .sec-05 .stage .scroll .card .card-body p {
    font-size: 1.125rem;
    line-height: 1.563rem;
    text-align: left;
    height: auto;
  }
  body .sec-05 .stage .scroll .link-read-more {
    height: 2.5rem;
    margin: 0.938rem 0.313rem 0;
  }
  body .sec-05 .stage .scroll .link-read-more a {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #005CB1;
    font-family: "PoppinsMedium", sans-serif;
    text-decoration: none;
    padding-right: 1.25rem;
    background: transparent url("../img/Icon-arrow-up-right.png") right center no-repeat;
  }
  body .sec-05 .stage .scroll .owl-theme .owl-nav {
    margin: -10px 10px 0;
  }
  body .sec-05 .stage .scroll .owl-theme .owl-nav button.owl-next {
    margin-right: 100px;
  }
  body .sec-07 .box-footer .box-footer-1 {
    padding: 3.125rem 0 1.25rem 1.25rem;
    border-bottom: 0.063rem solid #FFFFFF;
  }
  body .sec-07 .box-footer .box-footer-1 .medias {
    margin-left: 60px;
  }
  body .sec-07 .box-footer .box-footer-1 .medias span {
    font-size: 1.25rem;
    font-family: "PoppinsMedium", sans-serif;
    margin-bottom: 0.313rem;
  }
  body .sec-07 .box-footer .box-footer-2 {
    border-bottom: 0.063rem solid #FFFFFF;
    padding-bottom: 1.25rem;
    margin-bottom: 2.5rem;
  }
  body .sec-07 .box-footer .box-footer-2 h2 {
    padding-top: 2.5rem;
    font-size: 1.25rem;
    font-family: "poppinsSemiBold", sans-serif;
  }
  body .sec-07 .box-footer .box-footer-2 h3 {
    font-size: 0.875rem;
    padding: 0.625rem 0;
  }
  body .sec-07 .box-footer .box-footer-2 dl dt {
    font-size: 0.875rem;
    font-family: "PoppinsMedium", sans-serif;
  }
  body .sec-07 .box-footer .box-footer-2 dl dd {
    font-size: 1.125rem;
    font-family: "poppinsSemiBold", sans-serif;
  }
  body .sec-07 .box-footer .box-footer-2 .disclaimer {
    font-size: 0.75rem;
    font-family: "PoppinsMedium", sans-serif;
  }
  body .sec-07 .box-footer .box-footer-2 .autoatendimento a {
    display: block;
    margin-bottom: 1.25rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem;
  }
  body .sec-07 .box-footer .box-footer-3 p {
    text-align: center;
    font-size: 0.75rem;
    font-family: "PoppinsMedium", sans-serif;
  }
  body .sec-08 .box-form-1 {
    padding-top: 2.5rem;
  }
  body .sec-08 .box-form-2 form {
    padding-top: 1.25rem;
    margin-bottom: 20px;
  }
  body .sec-09 .modal .modal-content {
    margin-top: calc(3.125rem * 3);
  }
}
@media (min-width: 960px) {
  .sec-08 .box-form-1 p {
    font-size: 1.875rem;
  }
  .sec-08 .box-form-2 {
    padding: 0 60px;
  }
  .sec-08 .box-form-2 form {
    margin-bottom: 1.875rem;
  }
  footer .sec-07 .box-footer .box-footer-1 p {
    font-size: 1.25rem;
    text-align: center;
    font-family: "PoppinsMedium", sans-serif;
  }
  footer .sec-07 .box-footer .box-footer-1 .medias span {
    padding-left: 12rem;
  }
  footer .sec-07 .box-footer .box-footer-1 .medias .social-medias {
    margin: 0 !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 0;
  }
  footer .sec-07 .box-footer .box-footer-1 .medias .social-medias li {
    padding-right: 0 !important;
    padding-left: 1.625rem;
  }
  footer .sec-07 .box-footer .box-footer-2 h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  body .sec-01 .stage .scroll {
    left: 20%;
    width: 1230px;
  }
  body .sec-01 .stage .scroll .owl-theme .owl-nav button.owl-next {
    margin-right: 140px;
  }
  body .sec-08 .box-form-1 p {
    font-size: 36px;
    line-height: 2.5rem;
    padding-left: 1.563rem;
  }
  body .sec-08 .box-form-2 {
    padding: 0 75px;
    margin-top: 1.5rem;
  }
  body footer .sec-07 .box-footer .box-footer-1 .medias span {
    padding-left: 1.875rem;
  }
  body footer .sec-07 .box-footer .box-footer-1 .medias .social-medias {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer .sec-07 .box-footer .box-footer-2 .autoatendimento {
    padding-left: 110px;
  }
}
@media (min-width: 1600px) {
  body .sec-01 .stage .scroll {
    width: 1375px;
  }
  body .sec-01 .stage .scroll .card {
    width: auto;
  }
  body .sec-01 .stage .scroll .owl-theme .owl-nav button.owl-next {
    margin-right: 0;
  }
}